#i1checklist {position:absolute; width:26%;top:23%;left:38%}
#i1wetchem1 {position:absolute; width:15%;top:23%;left:52%}
#i1drychem1 {position:absolute; width:12%;top:18%;left:65%}
#i1wetchem2 {position:absolute; width:15%;top:19%;left:21%}
#i1drychem2 {position:absolute; width:15%;top:23%;left:36%}
#i2results {position:absolute; width:35%;top:16%;left:31%}
#i3danger {position:absolute; width:35%;top:15%;left:33%}
#i4beaker {position:absolute; width:23%;top:12.5%;left:40%}
#i4stirrer {position:absolute; width:45%;top:70%;left:28%}
#i5droper {position:absolute; width:12%;top:4%;left:48%}
#i5stirrer {position:absolute; width:38%;top:76%;left:30%}
#i5beaker {position:absolute; width:18%;top:31%;left:40%}
#i6droper {position:absolute; width:11.5%;top:4%;left:48%}
#i6stirrer {position:absolute; width:38%;top:76%;left:30%}
#i6beaker {position:absolute; width:18%;top:29%;left:40%}
#i6oilbath {position:absolute; width:38%;top:58%;left:30%}
#i7icebath {position:absolute; width:45%;top:47%;left:28%}
#i7stirrer {position:absolute; width:45%;top:70%;left:28%}
#i7beakericebath {position:absolute; width:23%;top:9%;left:40%}
#i8oilbath {position:absolute; width:45%;top:47%;left:28%}
#i8stirrer {position:absolute; width:45%;top:70%;left:28%}
#i8beakeroilbath {position:absolute; width:23%;top:9%;left:40%}
#i9measuringcylinder {position:absolute; width:9%;top:1%;left:60%}
#i9stirrer {position:absolute; width:38%;top:76%;left:30%}
#i9beaker {position:absolute; width:18%;top:31%;left:40%}
#i10leaves {position:absolute; width:100%;top:26%;left:0%}
#i11stand {position:absolute;width:35%;top:11%;left:31%}
#i11reflux {position:absolute;width:8%;top:3%;left:48.5%}
#i11stirrer {position:absolute;width:38%;top:77%;left:30%}
#i11oilbath {position:absolute;width:38%;top:58%;left:30%}
#i11rboilbath {position:absolute;width:15.5%;top:33.5%;left:42%}
#i11clip1 {position:absolute;width:23%;top:18%;left:31%}
#i11clip2 {position:absolute;width:23%;top:40%;left:31%}
#i11leaf {position:absolute;width:14%;top:46%;left:43%;opacity:0.7;}
#i12beaker {position:absolute; width:23%;top:12.5%;left:40%}
#i12stirrer {position:absolute; width:45%;top:70%;left:28%}
#i12leaf {position:absolute; width:9%;top:27%;left:47%}
#i13stand {position:absolute; width:30%;top:11%;left:31%}
#i13reflux {position:absolute; width:8%;top:3%;left:48.5%}
#i13stirrer {position:absolute; width:38%;top:77%;left:30%}
#i13oilbath {position:absolute; width:38%;top:58%;left:30%}
#i13rb2neckoilbath {position:absolute; width:18%;top:33.5%;left:42%}
#i13clip1 {position:absolute; width:23%;top:18%;left:31%}
#i13clip2 {position:absolute; width:23%;top:40%;left:31%}
#i14stand {position:absolute; width:30%;top:11%;left:31%}
#i14reflux {position:absolute; width:8%;top:3%;left:48.5%}
#i14stirrer {position:absolute; width:38%;top:77%;left:30%}
#i14oilbath {position:absolute; width:38%;top:58%;left:30%}
#i14rb2neckoilbath {position:absolute; width:18%;top:33.5%;left:42%}
#i14clip1 {position:absolute; width:23%;top:18%;left:31%}
#i14clip2 {position:absolute; width:23%;top:40%;left:31%}
#i14droper {position:absolute; width:11%;top:15%;left:58%}
#i15stand {position:absolute; width:35%;top:11%;left:31%}
#i15reflux {position:absolute; width:8%;top:3%;left:48.5%}
#i15stirrer {position:absolute; width:38%;top:77%;left:30%}
#i15oilbath {position:absolute; width:38%;top:58%;left:30%}
#i15rboilbath {position:absolute; width:15.5%;top:33.5%;left:42%}
#i15clip1 {position:absolute; width:23%;top:18%;left:31%}
#i15clip2 {position:absolute; width:23%;top:40%;left:31%}
#i16oilbath {position:absolute; width:45%;top:47%;left:28%}
#i16stirrer {position:absolute; width:45%;top:70%;left:28%}
#i16beakeroilbath {position:absolute; width:23%;top:9%;left:40%}
#i16leaf {position:absolute; width:9%;top:27%;left:47%}
#i17stand {position:absolute; width:47%;top:7%;left:26%}
#i17stirrer {position:absolute; width:45%;top:68%;left:28%}
#i17oilbath {position:absolute; width:45%;top:45%;left:28%}
#i17rboilbathna {position:absolute; width:19%;top:14%;left:40%}
#i17clip {position:absolute; width:28%;top:22%;left:26.5%}
#i18buret {position:absolute; width:4.3%;top:4%;left:48%}
#i18stand {position:absolute; width:35%;top:11%;left:31%}
#i18stirrer {position:absolute; width:38%;top:77%;left:30%}
#i18oilbath {position:absolute; width:38%;top:58%;left:30%}
#i18rboilbath {position:absolute; width:15.5%;top:33.5%;left:42%}
#i18clip1 {position:absolute; width:23%;top:18%;left:31%}
#i18clip2 {position:absolute; width:23%;top:40%;left:31%}
#i19furnace {position:absolute; width:40%;top:10%;left:29%}
#i20hydrothermal {position:absolute; width:37%;top:8%;left:32%}
#i21sonicator {position:absolute; width:36%;top:23%;left:32%}
#i21beakersonicator {position:absolute; width:25%;top:6%;left:38%}
#i22centrifuge {position:absolute; width:34%;top:7%;left:33.5%}

.synthesis-steps{list-style-type:none;margin:0;padding:0}
.synthesis{display:table;width:100%;margin-bottom:20px}
.steps{background:#eee;display:table-cell;width:50%;vertical-align:middle;padding:20px;border-radius:15px 0 0 15px}
.step{color:red;font-weight:700}
.imgc{background:#fff;display:table-cell;width:50%;border-radius:0 15px 15px 0;box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);}
.img{padding-top:50%;position:relative;filter:drop-shadow(2px 2px 4px rgba(0,0,0,.4))}

@media only screen and (max-width:800px){
.synthesis{display:grid}
.steps{border-radius:15px 15px 0 0;width:initial}
.imgc{display:grid;border-radius:0 0 15px 15px;width:initial}
}
